

# Shared Objects (inc. Window DLLs)


# Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/


# Visual Studio options/cache directory
.vs/

#ClickOnce Directory
publish/


#others
node_modules/
*.nupkg
**/packages/*
!**/packages/build/

# Python Tools for Visual Studio
__pycache__/
*.pyc

